.category-id-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 4rem;
  text-align: center;
}

.tile-category-id {
  width: 48%;
  aspect-ratio: 1 / 1;
  display: flex;
  background-color: #d9d9d9;
  border-radius: 2ch;
  margin-bottom: 2ch;
  padding: 2ch;
}

.tile-title {
  font-weight: 400;
  margin: auto;
}

@media (min-width: 900px) {
  .tile-category-id {
    width: 24%;
    aspect-ratio: 1 / 1;
  }
}
