@use '../../styles/variables' as v;

.Home {
  padding: 20px;
}
.page-title {
  text-align: left;
  padding: 20px 0px 20px 0;
}

.tile {
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;

  &--header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    &--title {
      flex-grow: 1;
    }

    &--button {
      size: 100px;
    }
  }

  &--goal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      font-weight: 400;
    }

    &--img {
      max-width: 70%;
    }
  }
}

li {
  list-style-type: none;
}
