.tile--activity-name {
  background-color: #d9d9d9;
  border-radius: 4ch;
  margin-bottom: 2ch;

  &--title {
    padding: 1rem;
    text-align: center;
    font-weight: 400;
  }
}

.tile--met--title {
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.tile--description--title {
  padding: 4rem;
  text-align: center;
  font-weight: 400;
}
span {
  font-size: 1.5rem;
}
.form--btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  &--link {
    text-decoration: none;
  }
}
